{%extends 'base.html'%}
{%block title%}Contact us{%endblock title%}
{%block body%}
<div class="container-fluid my-4">
    <img class="d-block w-100" src="https://source.unsplash.com/idhx-MOCDSk/1200x400?auto=yes&bg=777&fg=555&
    text=First slide" class='d-block w-100 my-4 mx-4' alt="First slide">
</div>
<div class="contaier-fluid my-4 mx-4">
<form action="submitcontact" method="POST">
    {% csrf_token %}
  <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
    </div>
  <div class="form-group">
    <label for="msg">Leave a message here...</label>
    <textarea class="form-control" id="msg" rows="3" name="msg" placeholder="write your message here..."></textarea>
  </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
        </div>

{%endblock body%}